<footer class="footer">
 <small>
This is the Twitter clone App developed by moses
  </small>
     <nav>
         <ul> 
            <li><%= link_to "About", about_path %></li>
             <li><%= link_to "Contact", contact_path %></li>
             <li><%= link_to "New", '#' %></li>
             <li><%= link_to "Settings", '#' %></li>
             <li> <%= link_to "My Account", '#' %></li>
             <li> <%= link_to "View All", '#' %></li>
         </ul>
      </nav>
    </footer>



